In [4]:
###Dictionary
#collection of key value pairs
#syntax:()

In [5]:
#(k1:v1,k2:v2,k3:v3,......)

In [8]:
fruits = {'a': 'apple','b': 'banana','c': 'cherry'}

In [9]:
print(fruits)

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [10]:
type(fruits)

dict

In [11]:
len(fruits)

3

In [13]:
#the elements are accesed by the rather than the index
fruits['a']

'apple'

In [14]:
fruits['b']

'banana'

In [16]:
#add element to the dictionary
fruits['w']='water melon'

In [17]:
fruits

{'a': 'apple', 'b': 'banana', 'c': 'cherry', 'w': 'water melon'}

In [18]:
fruits['k']='kiwi'

In [19]:
fruits

{'a': 'apple', 'b': 'banana', 'c': 'cherry', 'w': 'water melon', 'k': 'kiwi'}

In [20]:
fruits['a']='apricot'

In [21]:
fruits

{'a': 'apricot', 'b': 'banana', 'c': 'cherry', 'w': 'water melon', 'k': 'kiwi'}

In [22]:
fruits['d']='apricot'

In [23]:
fruits

{'a': 'apricot',
 'b': 'banana',
 'c': 'cherry',
 'w': 'water melon',
 'k': 'kiwi',
 'd': 'apricot'}

In [24]:
ipl={}

In [25]:
len(ipl)

0

In [26]:
ipl['MI']=["Rohit","Ramu"]

In [27]:
ipl

{'MI': ['Rohit', 'Ramu']}

In [28]:
ipl["RCB"]=("Virat","vani")

In [29]:
ipl

{'MI': ['Rohit', 'Ramu'], 'RCB': ('Virat', 'vani')}

In [30]:
ipl["MI"]

['Rohit', 'Ramu']

In [31]:
ipl["MI"].append("Bramha")

In [32]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha'], 'RCB': ('Virat', 'vani')}

In [33]:
ipl["Mumbai"]=ipl["MI"]

In [34]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha']}

In [36]:
ipl["MI"].append("Hardik")

In [37]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha', 'Hardik']}

In [48]:
ipl["Bang"]=["Ram","laxmi"]

In [49]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'Bang': ['Ram', 'laxmi'],
 'mi': 'lower case of MI'}

In [42]:
#in operator
"MI" in ipl

True

In [43]:
"Bang" in ipl

True

In [44]:
"bang" in ipl

False

In [45]:
ipl["mi"]="lower case of MI"

In [46]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'Bang': ('Ram', 'laxmi'),
 'mi': 'lower case of MI'}

In [50]:
ipl.get('MI')

['Rohit', 'Ramu', 'Bramha', 'Hardik']

In [51]:
ipl.get('mi')

'lower case of MI'

In [52]:
result=ipl.get("MI",-1)

In [54]:
result

['Rohit', 'Ramu', 'Bramha', 'Hardik']

In [137]:
result=ipl.get("MIl",-1)

In [138]:
result

-1

In [59]:
ipl.items()

dict_items([('MI', ['Rohit', 'Ramu', 'Bramha', 'Hardik']), ('RCB', ('Virat', 'vani')), ('Mumbai', ['Rohit', 'Ramu', 'Bramha', 'Hardik']), ('Bang', ['Ram', 'laxmi']), ('mi', 'lower case of MI')])

In [60]:
ipl.items

In [62]:
fruits.items()

dict_items([('a', 'apricot'), ('b', 'banana'), ('c', 'cherry'), ('w', 'water melon'), ('k', 'kiwi'), ('d', 'apricot')])

In [69]:
fruits.item()[0]

AttributeError: 'dict' object has no attribute 'item'

In [71]:
list(fruits.items())[0]

('a', 'apricot')

In [72]:
list(fruits.items())[0][0]

'a'

In [73]:
list(fruits.items())[0][1]

'apricot'

In [77]:
list(fruits.items())[0][-2]

'a'

In [78]:
fruits

{'a': 'apricot',
 'b': 'banana',
 'c': 'cherry',
 'w': 'water melon',
 'k': 'kiwi',
 'd': 'apricot'}

In [79]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'Bang': ['Ram', 'laxmi'],
 'mi': 'lower case of MI'}

In [80]:
#pop
fruits.pop(cks)

NameError: name 'cks' is not defined

In [140]:
fruits.popitem()

('N', None)

In [83]:
fruits

{'a': 'apricot', 'b': 'banana', 'c': 'cherry', 'w': 'water melon', 'k': 'kiwi'}

In [84]:
fruits.pop('0',-1)

-1

In [86]:
fruits

{'a': 'apricot', 'b': 'banana', 'c': 'cherry', 'w': 'water melon', 'k': 'kiwi'}

In [87]:
#popitem
fruits.popitem()

('k', 'kiwi')

In [89]:
fruits

{'a': 'apricot', 'b': 'banana', 'c': 'cherry', 'w': 'water melon'}

In [90]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'Bang': ['Ram', 'laxmi'],
 'mi': 'lower case of MI'}

In [95]:
ipl['Bang'].remove('laxmi')

In [96]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha', 'Hardik'],
 'Bang': ['Ram'],
 'mi': 'lower case of MI'}

In [97]:
lst=[100,200,300]

In [98]:
lst.pop(-1)

300

In [99]:
lst

[100, 200]

In [100]:
ipl["MI"].pop(-1)

'Hardik'

In [101]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha'],
 'Bang': ['Ram'],
 'mi': 'lower case of MI'}

In [102]:
fruits

{'a': 'apricot', 'b': 'banana', 'c': 'cherry', 'w': 'water melon'}

In [103]:
alphabet={'a':100,'b':200}

In [104]:
alphabet

{'a': 100, 'b': 200}

In [107]:
fruits.update(alphabet)

In [108]:
alphabet

{'a': 100, 'b': 200}

In [109]:
fruits

{'a': 100, 'b': 200, 'c': 'cherry', 'w': 'water melon'}

In [110]:
ipl

{'MI': ['Rohit', 'Ramu', 'Bramha'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Rohit', 'Ramu', 'Bramha'],
 'Bang': ['Ram'],
 'mi': 'lower case of MI'}

In [116]:
del ipl["MI"][0]

In [113]:
ipl

{'MI': ['Ramu', 'Bramha'],
 'RCB': ('Virat', 'vani'),
 'Mumbai': ['Ramu', 'Bramha'],
 'Bang': ['Ram'],
 'mi': 'lower case of MI'}

In [117]:
fruits

{'a': 100, 'b': 200, 'c': 'cherry', 'w': 'water melon'}

In [118]:
alphabet

{'a': 100, 'b': 200}

In [120]:
d={'u': 'update','c': 'chikku','g': 'garpes'}

In [121]:
d

{'u': 'update', 'c': 'chikku', 'g': 'garpes'}

In [122]:
fruits.update(d)

In [123]:
fruits

{'a': 100,
 'b': 200,
 'c': 'chikku',
 'w': 'water melon',
 'u': 'update',
 'g': 'garpes'}

In [124]:
fruits[1]="an integer"

In [125]:
fruits

{'a': 100,
 'b': 200,
 'c': 'chikku',
 'w': 'water melon',
 'u': 'update',
 'g': 'garpes',
 1: 'an integer'}

In [127]:
fruits[(1,2,3)]= 'tuple as key'

In [128]:
fruits

{'a': 100,
 'b': 200,
 'c': 'chikku',
 'w': 'water melon',
 'u': 'update',
 'g': 'garpes',
 1: 'an integer',
 (1, 2, 3): 'tuple as key'}

In [130]:
fruits['N']=None

In [131]:
fruits

{'a': 100,
 'b': 200,
 'c': 'chikku',
 'w': 'water melon',
 'u': 'update',
 'g': 'garpes',
 1: 'an integer',
 (1, 2, 3): 'tuple as key',
 'N': None}